{% extends "perfil_restaurante.html.twig" %}

{% block title %}reservar puntos{% endblock %}

{% block main %}
{% if is_granted('ROLE_USER') %}
  <div class="row">
    <div class="col-8 border shadow-sm p-3 mb-5t border" style="margin-right: 30px;">
      {% for flash_message in app.session.flashbag.get('reserva_bad') %}
      <div class="alert alert-danger">
        {{ flash_message }}
      </div>
      {% endfor %}
      
      <date style="float:right; padding:5px;">{{"now"| date("d/m/Y")}}</date>
      <h2 style="color:#4917C4;"> {{ restaurante.nombre }}</h2>

      {% form_theme form 'bootstrap_4_layout.html.twig' %}
      {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
    </div>

    <div class="col border shadow-sm p-3 mb-5">
      <div class="header">
          <p class="h3">Puntos actuales </p>
          <p class="h1" style="color:#4917C4;"> {{ app.user.puntos}}</p>
      </div>

      <p class="lead">Por cada numero de puntos, tienes los siguientes descuentos:</p>
      <ul class="list-group list-group-flush">
          <li class="list-group-item"></li>
          <li class="list-group-item">100 puntos <i class="far fa-hand-point-right fa-lg"></i> <span class="h2"> 10€</span></li>
          <li class="list-group-item">200 puntos <i class="far fa-hand-point-right fa-lg"></i> <span class="h2"> 20€</span></li>
          <li class="list-group-item"></li>
        </ul>
      </ul>
    </div>
  </div>
{% endif %}
{% endblock %}